.status-icon {
  font-size: 0.7em;
  margin-right: 0.3rem;
  transform: translateY(-0.1rem);
  display: inline-block;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 1em;
  text-align: center;
}

/* .status-icon--ok {
  background-color: var(--color-green);
  color: white;
} */

.status-icon--play {
  /* background-color: green; */
  /* color: white; */
}
