.step-menu__item {
  border-bottom: 1px solid var(--color-gray);
  /* border-left: 0.5rem solid var(--color-gray); */
}

.step-menu__item:hover,
.step-menu__item--active {
  color: var(--color-blue);
  background-color: var(--color-brown);
  border-bottom-color: transparent;
}

/* .step-menu__item:hover {
  background-color: var(--color-blue-brown);
} */

.step-menu__item--active,
.step-menu__item:hover {
  /* background-color: var(--color-brown); */
}

.step-menu__item--done {
  background-color: var(--color-green);
}

.step-menu__item button {
  width: 100%;
  padding-left: 0.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.step-menu__item button {
  border-left: 0.5rem solid transparent;
}

.step-menu__item:hover button {
  border-left-color: var(--color-blue-brown);
}

.step-menu__item--active:hover button,
.step-menu__item--active button {
  border-left-color: var(--color-blue);
}
