.player {
  width: 100%;
  height: 100%;

  /* display: flex;
  flex-direction: column; */
}

.player__editor {
  background-color: var(--color-black);
  color: white;

  /*  */
  height: 100%;
}

.player .window__content {
  background-color: var(--color-black);
}

.player__text {
  /* background-color: white; */
  padding: 0.5rem;
  font-size: 1.3rem;
}

.player__code {
  height: 100%;
}
